@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    background: linear-gradient(to bottom right, #ede9fe, #d8b4fe, #f5d0fe);
    color: #1e1b4b;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.main-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;

    .main-page-container {
        display: flex;
        gap: 20px;
        min-height: 70vh;
    }
}